@import "./row";
@import "./variables";
@import "./banner";
@import "./navbar";
@import "./footer";

* {
  margin: 0;
}
body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  background-color: #000;
}
.scroll__bg {
  width: 100%;
  height: 35px;
  background-color: rgba(65, 5, 121, 0.774);
}
